In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
import seaborn as sns 
#import matplotlib.pylab as plt
import numpy as np
%matplotlib inline
from numpy import std, mean

import sklearn
from sklearn import datasets, linear_model, metrics
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import VarianceThreshold
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler, PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [2]:
df=pd.read_csv("C:/Users/#######/Downloads/Housing.csv")
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [3]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [4]:
x = df.drop('price', axis=1)
x

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [5]:
y = df['price']
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=20)

In [11]:
lr = LinearRegression()
rf = RandomForestRegressor(max_depth=5, random_state=2) #increase max_depth for better accuracy
br = linear_model.BayesianRidge()

x_train1 = x_train
y_train1 = y_train
x_test1 = x_test
y_test1 = y_test

x_train2 = x_train
y_train2 = y_train
x_test2 = x_test
y_test2 = y_test

x_train3 = x_train
y_train3 = y_train
x_test3 = x_test
y_test3 = y_test


x_train1, y_train1 = make_regression(n_samples=1000, n_features=9, n_informative=20, noise=0.5, random_state=2)
x_test1, y_test1 = make_regression(n_samples=1000, n_features=9, n_informative=20, noise=0.5, random_state=2)

x_train2, y_train2 = make_regression(n_samples=1000, n_features=9, n_informative=20, noise=0.5, random_state=2)
x_test2, y_test2 = make_regression(n_samples=1000, n_features=9, n_informative=20, noise=0.5, random_state=2)

x_train3, y_train3 = make_regression(n_samples=1000, n_features=9, n_informative=20, noise=0.5, random_state=2)
x_test3, y_test3 = make_regression(n_samples=1000, n_features=9, n_informative=20, noise=0.5, random_state=2)

In [12]:
lr.fit(x_train1, y_train1)

LinearRegression()

In [13]:
y_predLR = lr.predict(x_test1)
r2scoreLR = r2_score(y_test1, y_predLR)
r2scoreLR

0.9999912938133745

In [14]:
rf.fit(x_train2, y_train2)

RandomForestRegressor(max_depth=5, random_state=2)

In [15]:
y_predRFR = rf.predict(x_test2)
r2scoreRFR = r2_score(y_test2, y_predRFR)
r2scoreRFR

0.8389529739047711

In [16]:
br.fit(x_train3, y_train3)

BayesianRidge()

In [17]:
y_predBR = br.predict(x_test3)
r2scoreBR = r2_score(y_test3, y_predBR)
r2scoreBR

0.9999912938133682